@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior:smooth;
}
p.caption{
    font-style: normal;
    font-size: 62px;
    font-family: 'EB Garamond', serif;
    line-height: 70px;
    margin: 15px;
}
p{
    font-style: normal;
    font-size: 32px;
    font-family: 'EB Garamond', serif;
    line-height: 40px;
    margin: 15px;
}
p.sm{
    font-style: normal;
    font-size: 25px;
    font-family: 'EB Garamond', serif;
    line-height: 30px;
    margin: 15px;
}
header{
    border-bottom: 2px solid rgba(192, 192, 192, 0.425);
    font-family: 'EB Garamond', serif;
}
.logo{
    padding-right: 25px;
}
.logo a{
    text-decoration: none;
    color:black;
    text-transform: uppercase;
    font-size: 40px;
}
.nav1,
.nav2{
    display: flex;
    align-items: center;
}
.nav1 ul{
   display:flex;
   list-style-type: none;
   justify-content: space-between;
}
.nav1 ul li{
    padding-right: 25px;
    padding-left: 25px;
}
.nav1 ul a{
    text-decoration: none;
    color:black;
    font-size: 25px;
}
.nav2 ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
.nav2 ul img{
    padding-right: 15px;
    padding-left: 15px;
}
.allhead{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}
#section1{
    height: 100vh;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid rgba(192, 192, 192, 0.425); 
}
.block1{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    padding-right: 20px;
}
.block2{
    width: 50%;
    display: flex;
    background-image: url(./shana-van-roosbroek-rwiLwcpHEyw-unsplash.jpg);
    background-size: cover;
}
.but1,
.but2,
.but3{
    width: 150px;
    margin: 15px;
    padding: 14px;
    font-family: 'EB Garamond', serif;
    font-size: 25px;
    text-transform: uppercase;
    color: rgb(117, 117, 117);
    border: 2px solid rgba(117, 117, 117, 0.37);
    border-radius: 5px;
}
.but1 a,
.but2 a,
.but3 a{
    text-decoration: none;
    color: rgb(117, 117, 117);
}
#section2,
#section3{
    height: 60vh;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid rgba(192, 192, 192, 0.425);
}
.block3{
    width: 30%;
    display: flex;
    background-image: url(./tetiana-shadrina-X4YjqVCn7xI-unsplash.jpg);
    background-size: cover;
}
.block4{
    width: 70%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    /* padding-right: 60px; */
}
.block5{
    width: 70%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    padding-right: 20px;
}
.block6{
    width: 30%;
    display: flex;
    background-image: url(./yaniv-cohen-DxsavJrtuZg-unsplash.jpg);
    background-size: cover;
}
#section4{
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.block7{
    display: flex;
    width: 95%;
    text-align: center;
    justify-content: center;
}
.gallery{
    width: 90%;
    height: 45vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}
.gallery > div{
    height: 45vh;
}
.cover1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.553);
    display: none;
    width: 250px;
    height: 45vh;
}
.cover1 a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.foto1 .foto img,
.foto2 .foto img,
.foto3 .foto img,
.foto4 .foto img,
.foto5 .foto img{
    width: 250px;
    height: 100%;
    position: relative;
    z-index: 1;
}

.foto1:hover .cover1,
.foto2:hover .cover1,
.foto3:hover .cover1,
.foto4:hover .cover1,
.foto5:hover .cover1{
    display: flex;
    cursor: pointer;
}
.arrow1,
.arrow2{
    /* width: 5%; */
    height: 100%;
}
.arrow2 .arrow{
    filter: invert(100%);
    position: relative;
    left: -100px;
    top: 50%;
    z-index: 3;
}
.arrow1 .arrow{
    filter: invert(100%);
    position: relative;
    left: 100px;
    top: 50%;
    z-index: 3;
}
.arrow1 :hover img,
.arrow2 :hover img{
    transition-duration: 1s;
    transform: scale(1.5);
}
.title{
    color: white;
    font-size: 25px;
}
.info{
    color: white;
    font-size: 21px;
    line-height: 25px;
}
.but4{
    width: 90px;
    margin: 8px;
    padding: 8px;
    font-family: 'EB Garamond', serif;
    font-size: 25px;
    text-transform: uppercase;
    color: rgb(117, 117, 117);
    border: 2px solid rgba(255, 255, 255, 0.788);
    border-radius: 5px;
    background-color: transparent;
}

/* .foto2 .foto img{
    width: 250px;
    height: 100%;
    position: relative;
    z-index: 1; 
} */
/* .foto2:hover .cover1{
    display: flex;
    cursor: pointer;
} */
/* .foto3 .foto img{
    width: 250px;
    height: 100%;
    position: relative;
    z-index: 1; 
} */
/* .foto3:hover .cover1{
    display: flex;
    cursor: pointer;
} */
/* .foto1 img{
    width: 250px;
    height: 100%;
}
.foto2 img{
    width: 250px;
    height: 100%;
}
.foto3 img{
    width: 250px;
    height: 100%;
}
.foto4 img{
    width: 250px;
    height: 100%;
}
.foto5 img{
    width: 250px;
    height: 100%;
} */

/* .foto1{
    width: 20vh;
    height: 100%;
    background-image: url(./anastasiia-malai-jrD2KapmNwM-unsplash.jpg);
    background-size: cover;
}
.foto2{
    width: 20vh;
    height: 100%;
    background-image: url(./shana-van-roosbroek-rwiLwcpHEyw-unsplash.jpg);
    background-size: cover;
}
.foto3{
    width: 20vh;
    height: 100%;
    background-image: url(./thayran-melo-6TGmpFB72RE-unsplash.jpg);
    background-size: cover;
}
.foto4{
    width: 250px;
    height: 100%;
    background-image: url(./yaniv-cohen-DxsavJrtuZg-unsplash.jpg);
    background-size: cover;
}
.foto5{
    width: 250px;
    height: 100%;
    background-image: url(./tetiana-shadrina-X4YjqVCn7xI-unsplash.jpg);
    background-size: cover; */